<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>005380</key>
	<string>현대차</string>
	<key>010140</key>
	<string>삼성중공업</string>
	<key>042660</key>
	<string>대우조선해양</string>
	<key>000720</key>
	<string>현대건설</string>
	<key>024110</key>
	<string>기업은행</string>
	<key>006400</key>
	<string>삼성SDI</string>
	<key>005490</key>
	<string>POSCO</string>
	<key>035250</key>
	<string>강원랜드</string>
	<key>004020</key>
	<string>현대제철</string>
	<key>000810</key>
	<string>삼성화재</string>
	<key>066570</key>
	<string>LG전자</string>
	<key>128940</key>
	<string>한미약품</string>
	<key>018260</key>
	<string>삼성에스디에스</string>
	<key>032830</key>
	<string>삼성생명 </string>
	<key>034730</key>
	<string>SK</string>
	<key>012330</key>
	<string>현대모비스</string>
	<key>009540</key>
	<string>현대중공업</string>
	<key>005830</key>
	<string>동부화재</string>
	<key>051900</key>
	<string>LG생활건강</string>
	<key>161390</key>
	<string>한국타이어</string>
	<key>017670</key>
	<string>SK텔레콤</string>
	<key>030200</key>
	<string>KT</string>
	<key>010950</key>
	<string>S-Oil</string>
	<key>000030</key>
	<string>우리은행</string>
	<key>027410</key>
	<string>BGF리테일</string>
	<key>011170</key>
	<string>롯데케미칼</string>
	<key>086790</key>
	<string>하나금융지주</string>
	<key>009150</key>
	<string>삼성전기</string>
	<key>010130</key>
	<string>고려아연</string>
	<key>000120</key>
	<string>CJ대한통운</string>
	<key>005940</key>
	<string>NH투자증권</string>
	<key>088350</key>
	<string>한화생명</string>
	<key>105560</key>
	<string>KB금융</string>
	<key>002790</key>
	<string>아모레G</string>
	<key>002380</key>
	<string>KCC</string>
	<key>006800</key>
	<string>미래에셋대우</string>
	<key>035720</key>
	<string>카카오</string>
	<key>032640</key>
	<string>LG유플러스</string>
	<key>251270</key>
	<string>넷마블게임즈</string>
	<key>078930</key>
	<string>GS</string>
	<key>139480</key>
	<string>이마트</string>
	<key>009830</key>
	<string>한화케미칼</string>
	<key>029780</key>
	<string>삼성카드</string>
	<key>000660</key>
	<string>SK하이닉스</string>
	<key>001450</key>
	<string>현대해상</string>
	<key>034220</key>
	<string>LG디스플레이</string>
	<key>036460</key>
	<string>한국가스공사</string>
	<key>047810</key>
	<string>한국항공우주</string>
	<key>035420</key>
	<string>NAVER</string>
	<key>000270</key>
	<string>기아차</string>
	<key>001040</key>
	<string>CJ</string>
	<key>097950</key>
	<string>CJ제일제당</string>
	<key>015760</key>
	<string>한국전력</string>
	<key>096770</key>
	<string>SK이노베이션</string>
	<key>023530</key>
	<string>롯데쇼핑</string>
	<key>086280</key>
	<string>현대글로비스</string>
	<key>036570</key>
	<string>엔씨소프트</string>
	<key>021240</key>
	<string>코웨이</string>
	<key>055550</key>
	<string>신한지주</string>
	<key>051910</key>
	<string>LG화학</string>
	<key>004800</key>
	<string>효성</string>
	<key>079440</key>
	<string>아이엔지생명</string>
	<key>018880</key>
	<string>한온시스템</string>
	<key>090430</key>
	<string>아모레퍼시픽</string>
	<key>005930</key>
	<string>삼성전자</string>
	<key>003550</key>
	<string>LG</string>
</dict>
</plist>
